.mainwrapper {
  display: flex;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(5, 150, 24, 0.123),
    3px 3px 3px rgba(199, 11, 11, 0.137);
  margin-bottom: 15px;
  margin-right: 5px;
  height: 150px;
  transition-duration: 0.3s;
}
.mainwrapper:hover {
  transform: scale(1.02);
}
.image {
  position: relative;
  height: 100%;
}
.image > img {
  width: 170px;
  height: 100%;
}
.vduration {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: aliceblue;
  padding: 0px 5px;
}
.vinfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  color: black;
  font-size: 1.2em;
}
.channel {
  color: black;
  opacity: 0.8;
  margin-top: 10px;
}
.views {
  color: black;
  opacity: 0.8;
  margin-top: 2px;
}
